.Details .back-link {
  padding: 0 0 0 5px;
  padding: 130px 0 0 0;
  color: rgb(150, 150, 168);
}

.Details .back-link a {
  font-weight: 700;
}
.Details .back-link a:hover {
  color: rgb(51, 17, 204);
}

.Details .title {
  font-family: "Merriweather", serif;
  color: rgb(53, 53, 59);
  font-weight: 700;
  font-size: 24px;
  margin: 30px 0 10px 20px;
}

.Details .flex-story {
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Details .story {
  font-family: "Merriweather", serif;
  color: rgb(53, 53, 59);
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding: 0 0 50px 20px;
  border-bottom: 2px solid rgb(150, 150, 168);
  max-width: 575px;
}

.Details .stats {
  border-bottom: 2px solid rgb(222, 80, 80);
  padding: 5px;
  color: rgb(222, 80, 80);
  margin-top: 10px;
  width: 92%;
}

.Details .stats,
.Details .author,
.Details .back-link {
  margin-left: 30px;
  margin-right: 30px;
}

.Details .stats,
.Details .public-fav {
  display: flex;
  justify-content: space-between;
}

.Details .public-fav {
  width: 120px;
}

.Details .lock-w-text {
  display: flex;
  cursor: pointer;
}

.Details .fa-lock-open,
.Details .fa-lock {
  margin: 0 7px 0 0;
}

.Details .fa-heart {
  cursor: pointer;
}

.Details .author {
  color: rgb(222, 80, 80);
  padding: 5px;
}

.Details .delete {
  font-size: 12px;
  color: rgb(150, 150, 168);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 20px;
  cursor: pointer;
}
